body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
}

header img {
    border-radius: 50%;
    max-width: 150px;
}

section {
    margin: 20px;
}

h2 {
    color: #333;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 10px;
}

h3 {
    color: #555;
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
}

ul {
    list-style-type: disc;
    padding-left: 90;
}

ul.satu{
   list-style-type: circle;
   padding-top:50;
   padding-left: 70;
}

li {
    margin-bottom: 10px;
}
