body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}

header img {
    border-radius: 50%;
    max-width: 150px;
    margin-bottom: 10px;
}

.header-text {
    margin-top: 10px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
}

section {
    margin-bottom: 30px;
}

h1 {
    margin: 5px 0;
}

h2 {
    color: #333;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
}

h3 {
    color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul.apa{
    padding-top: 20px;
    padding-left: 70px;
    list-style-type: disc;
}

li {
    margin-bottom: 10px;
}
