body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FBEAEB;
}

header {
    background-color: #2F3C7E;
    color: #FBEAEB;
    text-align: center;
    padding: 20px;
}

header img {
    border-radius: 5%;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.header-text {
    margin-top: 10px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
}

section {
    margin-bottom: 30px;
}

h1 {
    margin: 5px 0;
}

h2 {
    color: #333;
    border-bottom: 2px solid #2F3C7E;
    padding-bottom: 5px;
}

h3 {
    color: #555;
    text-decoration:underline;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul.apa{
    padding-top: 20px;
    padding-left: 30px;
    list-style-type: disc;
}

li {
    margin-bottom: 10px;
}

ul.proj{
  word-spacing: 1.2;
  line-height: 1.2;
}

img.gm{
    width: 50%;
    height: 50%;
    padding-left:100px;
    padding-bottom: 20px;
}

img.logo{
    width:20px;
    height: 20px;
}